@import 'resets/basic-resets';
// @import '../bower_components/uikit/scss/uikit'

$grey: #f7f7f7;

body {
    background: $grey;
    display: flex;
    align-items: center;
    align-content: justify;
    height: 100vh;
}
